*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e5e5e5;
}


.topo{
    color: white;
    background-color: orangered;
    border-radius: .25rem;
    padding: 1rem 1rem;
}


img{
    width: 130px;
    float: right;
    border-radius: .25rem;
    margin-top: 1rem;
}

.cardapio{
    background-color: white;
    border-radius: .25rem;
    padding: 1rem 1rem;
    margin-bottom: .75rem;
    box-shadow: 0 0 10px 0 #AAAAAA;
    cursor: pointer;
    border: 5px solid white;    
}



a{
    text-decoration: none;
}

