a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #351f39;
}

.container {
  padding: 1.5rem 1.5rem;
  position: relative;
}

.t1 {
  color: #a0c1b8;
  font-family: 'Poppins', sans-serif;
}
.button {
  background-color: #5f2f68;
  color: #a0c1b8;
  display: inline-flex;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 1.5rem;
}

.button:hover {
  background-color: #351f39;
  transition-delay: 100ms;
}

.text {
  margin-top: 2.5rem;
  font-family: 'Noto Sans', sans-serif;
  color: #a0c1b8;
}

span {
  color: #719fb0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  padding: 1.5rem 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: 0.041rem solid #719fb0;
}

img {
  width: 100%;
  border-radius: 0.25rem;
}

li {
  font-family: 'Poppins', sans-serif;
  color: #a0c1b8;
}

a {
  color: #a0c1b8;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #726a95;
}

body {
  text-align: center;
}

.powered {
  font-family: 'Poppins', sans-serif;
  color: #726a95;
  font-size: 1rem;
}
